html, body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #696d6e;
    font-family: 'Courier New', Courier, monospace;
}

button {
    flex: 1;
    font-size: 72px;
    color: #ececec;
    border-radius: 24px;
}

.calculator {
    display: flex;
    width: 30%;
    height: 80%;
    min-width: 450px;
    min-height: 700px;
    flex-direction: column;
    align-items: stretch;
    padding: 8px;
    gap: 8px;
    background-color: #263139;
    border: 4px solid transparent;
    border-radius: 16px;
}

.output {
    box-sizing: border-box;
    padding: 8px 24px;
    height: 128px;
    text-align: right;
    line-height: 128px;

    background-color: #8a8f92;
    border: 4px solid transparent;
    border-radius: 8px;

    font-size: 96px;
    font-weight: bold;
    color: #ececec;
}

.digits-row {
    display: flex;
    flex: 1;
    gap: 8px;
}

.dark-button {
    border: 2px solid transparent;
    background-color: #263139;
}

.dark-button:hover {
    background-color: #434b4e;
}

.light-button {
    border: 2px solid transparent;
    background-color: #ececec;
    color: #263139;
}

.light-button:hover {
    background-color: #b9b9b9;
}

.equals-button {
    border: 2px solid transparent;
    background-color: #e37a52;
}

.equals-button:hover {
    background-color: #f16535;
}